
//- doctype html
//- head
//-   meta(charset='utf-8')
//-   meta(http-equiv='X-UA-Compatible' content='IE=edge')
//-   // Tell the browser to be responsive to screen width
//-   meta(name='viewport' content='width=device-width, initial-scale=1')
//-   meta(name='keywords' content='wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Ample lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Ample admin lite dashboard bootstrap 5 dashboard template')
//-   meta(name='description' content='Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework')
//-   meta(name='robots' content='noindex,nofollow')
//-   title Ample Admin Lite Template by WrapPixel
//-   link(rel='canonical' href='')
//-   // Favicon icon
//-   link(rel='icon' type='image/png' sizes='16x16' href='')
//-   // Custom CSS
//-   link(href='/css/style.min.css' rel='stylesheet')
//-   link(rel="stylesheet", href="/css/c.css/style.css")
//-   //- link(rel="stylesheet", href="/css/c.css/style.css")
extends ../main
block content 

  .preloader
    .lds-ripple
      .lds-pos
      .lds-pos


  #main-wrapper(data-layout='vertical' data-navbarbg='skin5' data-sidebartype='full' data-sidebar-position='absolute' data-header-position='absolute' data-boxed-layout='full')

    header.topbar(data-navbarbg='skin5')
      nav.navbar.top-navbar.navbar-expand-md.navbar-dark
        .navbar-header(data-logobg='skin6')
        
          a.navbar-brand(href='/')
            //- b.logo-icon
            //-   img(src='/Bootstrap_plugins_admin/images/logo-icon.png' alt='homepage')
            span.logo-text
              img(src='/Bootstrap_plugins_admin/images/logo-text.png' alt='homepage')
        
          a.nav-toggler.waves-effect.waves-light.text-dark.d-block.d-md-none(href='javascript:void(0)')
            i.ti-menu.ti-close
      
        #navbarSupportedContent.navbar-collapse.collapse(data-navbarbg='skin5')
          ul.navbar-nav.d-none.d-md-block.d-lg-none
            li.nav-item
              a.nav-toggler.nav-link.waves-effect.waves-light.text-white(href='javascript:void(0)')
                i.ti-menu.ti-close
          ul.navbar-nav.ms-auto.d-flex.align-items-center

            li.in
              form.app-search.d-none.d-md-block.me-3(role='search')
                input.form-control.mt-0(type='text' placeholder='Search...')
                a.active(href='')
                  i.fa.fa-search
          
            li
              a.profile-pic(href='/admin/profine')
                img.img-circle(src=`${user.img}` alt='user-img' width='36')
                span.text-white.font-medium= user.username
          
    aside.left-sidebar(data-sidebarbg='skin6')
      .scroll-sidebar
        nav.sidebar-nav
          ul#sidebarnav
            li.sidebar-item.pt-2
              a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='/admin/dashboard' aria-expanded='false')
                i.far.fa-clock(aria-hidden='true')
                span.hide-menu Dashboard
            li.sidebar-item
              a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='/admin/profine' aria-expanded='false')
                i.fa.fa-user(aria-hidden='true')
                span.hide-menu Profile
            li.sidebar-item
              a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='/admin/manager-users' aria-expanded='false')
                i.fa-solid.fa-people-roof
                span.hide-menu Manager User
            li.sidebar-item
              a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='' aria-expanded='false')
                i.fa-solid.fa-comments
                span.hide-menu Manager Commemt
            li.sidebar-item
              a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='' aria-expanded='false')
                i.fa-solid.fa-list-check
                span.hide-menu Manager Posts
            li.sidebar-item
              a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='/admin/CreateCoures' aria-expanded='false')
                i.fa-solid.fa-square-plus
                span.hide-menu CreateCoures
            li.sidebar-item
              a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='/admin/ManagerCoures' aria-expanded='false')
                i.fa-solid.fa-list-check
                span.hide-menu Manager Coures
              a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='404.html' aria-expanded='false')
                i.fa.fa-info-circle(aria-hidden='true')
                span.hide-menu Error 404
            li.sidebar-item
              a.sidebar-link.waves-effect.waves-dark.sidebar-link(href='/admin/system' aria-expanded='false')
                i.fa-sharp.fa-solid.fa-gear
                span.hide-menu System
    .page-wrapper
      .page-breadcrumb.bg-white
        .row.align-items-center
          .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title Update Coures
          .col-lg-9.col-sm-8.col-md-8.col-xs-12
            .d-md-flex
              ol.breadcrumb.ms-auto
                li
                  a.fw-normal(href='#') Dashboard
              a.btn.btn-danger.d-none.d-md-block.pull-right.ms-3.hidden-xs.hidden-sm.waves-effect.waves-light.text-white(href='https://www.wrappixel.com/templates/ampleadmin/' target='_blank')
                | Upgrade
                | to Pro
          form.top.form(method='' action='')
              .container
                  .form-group
                      h1.text Cập nhật khóa học
                      input#INPUT_COURES_ID(value=`${coures.id}` type="text" disabled)
                      br
                      label.text(for='name') Tên Khóa Học
                      input#INPUT_NAME.create_name.form-control(value=`${coures.name}` type='text' placeholder='Khóa học' name='name')
                  .form-group
                      label.text(for='img') Image
                      input#INPUT_IMAGE.form-control(value=`${coures.img}` type='text' placeholder='name' name='img')
                  .form-group
                      label.text(for='mota') Mô Tả Khóa Học
                      input#INPUT_MOTA.create_mota.form-control(value=`${coures.mota}` type='text' placeholder='Mota' name='mota')
                  .form-group
                      label.text(for='videoId') Video ID
                      input#INPUT_VIDEOID.create_videoId.form-control(value=`${coures.videoId}` type='text' placeholder='video ID' name='videoId')
                  .form-group
                      label.text(for='level') Trinh Độ
                      input#INPUT_LEVEL.create_level.form-control(value=`${coures.level}` type='text' placeholder='Trình Độ' name='level')
                  button#btn_Close_UpdateCoures.btn.btn-primary Quay Lại
                  button#btn_UpdateCoures.btn.btn-primary  Cập Nhật 
  script(src='/Bootstrap_plugins_admin/bower_components/jquery/dist/jquery.min.js')
  script(src='/bootstrap/dist/js/bootstrap.bundle.min.js')
  script(src='/js/js_admin/app-style-switcher.js')
  script(src='/js/js_admin/waves.js')
  script(src='/js/js_admin/sidebarmenu.js')
  script(src='/js/js_admin/custom.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js") 
  script(src="/js/CreateCoures.js") 
