extends main 
block content
    .sub_page
        .hero_area
           
            section.food_section.layout_padding
                .container
                    .heading_container.heading_center
                        h2
                            | Danh Sách Khóa Học
                    ul.filters_menu
                        li.active(data-filter='*') All
                        each Coures in coures
                            li(data-filter=`.${Coures.id}`)=Coures.name
                        
                    .filters-content
                        .row.grid
                            each Coures in coures
                                .col-sm-6.col-lg-4.all(class=Coures.id)
                                    .box
                                        div
                                            .img-box
                                                img(src=`${Coures.img}` alt='')
                                            .detail-box
                                                h5=Coures.name
                                                p=Coures.mota
                                                .options
                                                    a(href=`/coure-detail/${Coures.slug}`)
                                                        | Xem Chi Tiết
                                                    a(href=`/Coures/${Coures.slug}`)
                                                        | Learn Now  
                    //- .btn-box
                    //-     a(href='')
                    //-         | View More
